# Use this to ignore large datasets in this directory

# This .gitignore is to share with everyone and should contain only rules that 
# are relevant to everyone. To exclude additional files only on your local 
# machine, use the "Explicit repository excludes" mechanism:
# https://help.github.com/en/github/using-git/ignoring-files


# Ignore files matching the following patterns:
# e.g. uncomment the following to ignore tif files
# *.tif


# Ignore the following subdirectories
# e.g. uncomment the following to ignore a directory called mydir
# /mydir/

